html {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    /* position: relative; */
    width: 100%;
    margin: 0; 
    display: flex;
    justify-content: space-around;
    align-content: center;
    z-index: 1;
    background: rgb(13,86,64);
    background: linear-gradient(0deg, rgba(13,86,64,1) 0%, rgba(181,163,105,1) 100%);
    /* background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)), 
        url(background.jpg);
    background-size: cover; */
}

html, body {
    height: 100%;
    flex-direction: column;
}

.hnf-container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

.hnf-logos {
    width: 300px;
}

.hnf-signup-text {
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

form.hnf-form-container {
    display: flex;
    justify-content: center;
    width: 95%;
}

form.hnf-form-container > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

input[type=email] {
    border-radius: 20px;
    height: 3rem;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 0 10px;
    font-size: 1.4rem;
    padding-inline-end: 50px;
}

input::placeholder {
    font-size: 1.4rem;
}

button#newsletterButton {
    all: unset;
    cursor: pointer;
    position: absolute;
    inset-block-start: 50%;
    inset-inline-end: 0%;
    transform: translate(-50%, -50%);
}

#submitStatus {
    font-weight: bold;
}

@media (min-width: 992px) {
    body {
        flex-direction: row;
    }
    .hnf-logos {
        width: 500px;
    }
    form.hnf-form-container > div {
        width: 100%;
    }
    .hnf-signup-text {
        font-size: 2rem;
    }
}