:root {
    --WSMR-primary: rgb(0, 99, 132);
    --WSMR-secondary: rgb(98, 204, 220);
    --WSMR-tertiary: rgb(77, 67, 131);
}

/* Hamburger Menu */
.Page-header-menu-trigger .burger-menu {
    fill: var(--WSMR-primary);
}

.NavigationItem-text.gtm_nav_cat span:hover,
.NavigationItem-text.gtm_nav_cat a:hover,
.NavigationItem-items-item.gtm_nav_subcat a:hover {
    color: var(--WSMR-primary);
}

/* Tagline next to the header logo 
(i.e. Florida's Classical Music Station */
.Page-header-tagline {
    color: var(--WSMR-primary);
    font-weight: bold;
    font-size: 1.3em;
}  

/* Search bar text colors and button colors */
.Page-header-search-input, 
.Page-header-search-input-mobile,
.Page-header-search-close svg {
    color: var(--WSMR-primary);
    fill: var(--WSMR-primary);
}

.Page-header-search-button-mobile .close-x, 
.Page-header-search-button .close-x {
    color: var(--WSMR-primary);
}

.Page-header-search-button-mobile .icon-magnify, 
.Page-header-search-button .icon-magnify {
    fill: var(--WSMR-primary);
}

/* Donate Button Styles */
.Page-header-donate-button.gtm_donate {
    background: var(--WSMR-secondary);
}

/* Persistent Streaming Player Styles */
.Page-header-persistent-player {
    background: var(--WSMR-primary);
}

.BrightspotPersistentPlayer {
    background: var(--WSMR-primary);
}

.BrightspotPersistentPlayer-playerControls {
    background: var(--WSMR-secondary);
}

/* Persistent Player Drawer Styles */
.BrightspotPersistentPlayer-drawer {
    background: var(--WSMR-primary);
}

.Stream-iconWrapper {
    background: var(--WSMR-secondary);
}

/* Links and Buttons */
a.Link:hover {
    color: var(--WSMR-primary);
}

button.StreamPill {
    background-color: var(--WSMR-primary);
    border-color: var(--WSMR-primary);
}

/* Footer Styles */
footer.Page-footer {
    background: var(--WSMR-primary);
}