:root {
    --WSMR-primary: rgb(0, 99, 132);
    --WSMR-secondary: rgb(98, 204, 220);
    --WSMR-tertiary: rgb(77, 67, 131);
}

/* Hamburger Menu */
.Page-header-menu-trigger .burger-menu {
    fill: var(--WSMR-primary);
}

/* Tagline next to the header logo 
(i.e. Florida's Classical Music Station */
.Page-header-tagline {
    color: var(--WSMR-primary);
    font-weight: bold;
}  

/* Donate Button Styles */
.Page-header-donate-button.gtm_donate {
    background: var(--WSMR-secondary);
}

/* Persistent Streaming Player Styles */
.Page-header-persistent-player {
    background: var(--WSMR-primary);
}

.BrightspotPersistentPlayer {
    background: var(--WSMR-primary);
}

.BrightspotPersistentPlayer-playerControls {
    background: var(--WSMR-secondary);
}

/* Persistent Player Drawer Styles */
.BrightspotPersistentPlayer-drawer {
    background: var(--WSMR-primary);
}

.Stream-iconWrapper {
    background: var(--WSMR-secondary);
}

/* Footer Styles */
footer.Page-footer {
    background: var(--WSMR-primary);
}