:root {
    --WSMR-primary: rgb(0, 99, 132);
    --WSMR-secondary: rgb(98, 204, 220);
    --WSMR-tertiary: rgb(77, 67, 131);
}

/* Hamburger Menu */
.Page-header-menu-trigger .burger-menu {
    fill: var(--WSMR-primary);
}

/* Hamburger Menu when there is a background image */
[data-header-background=true] .Page-header-menu-trigger {
    background-color: var(--WSMR-secondary);
    border-color: var(--WSMR-secondary);
}

.NavigationItem-text.gtm_nav_cat span:hover,
.NavigationItem-text.gtm_nav_cat a:hover,
.NavigationItem-items-item.gtm_nav_subcat a:hover {
    color: var(--WSMR-primary);
}

/* Tagline next to the header logo 
(i.e. Florida's Classical Music Station */
.Page-header-tagline {
    color: var(--WSMR-secondary);
    font-weight: bold;
    font-size: 1.3em;
}  

/* Search bar text colors and button colors */
.Page-header-search-input, 
.Page-header-search-input-mobile,
.Page-header-search-close svg {
    color: var(--WSMR-primary);
    fill: var(--WSMR-primary);
}

.Page-header-search-button-mobile .close-x, 
.Page-header-search-button .close-x {
    color: var(--WSMR-primary);
}

.Page-header-search-button-mobile .icon-magnify, 
.Page-header-search-button .icon-magnify {
    fill: var(--WSMR-primary);
}

/* Donate and Search Button Styles */
.Page-header-donate-button.gtm_donate, 
[data-header-background=true][data-search-open=false] 
.Page-header-search-button, [data-header-background=true][data-search-open=false] 
.Page-header-search-button-mobile {
    background: var(--WSMR-secondary);
    border-color: var(--WSMR-secondary);
}

/* Persistent Streaming Player Styles */
.Page-header-persistent-player {
    background: var(--WSMR-primary);
}

.BrightspotPersistentPlayer {
    background: var(--WSMR-primary);
}

.BrightspotPersistentPlayer-playerControls {
    background: var(--WSMR-secondary);
}

/* Persistent Player Drawer Styles */
.BrightspotPersistentPlayer-drawer {
    background: var(--WSMR-primary);
}

.Stream-iconWrapper {
    background: var(--WSMR-secondary);
}

/* Links and Buttons */
.ArticlePage-authorBy > a.Link {
    color: black;
}
a.Link:hover {
    color: var(--WSMR-primary);
}

button.StreamPill {
    background-color: var(--WSMR-primary);
    border-color: var(--WSMR-primary);
}

/* Links added through the Rich Text Editor */
.RichTextBody>ol a, 
.RichTextBody>ul a, 
.RichTextBody p>ol a, 
.RichTextBody p>ul a, 
.RichTextBody p a {
    color: var(--WSMR-primary);
    text-decoration: underline;
}

/* This code disables links */
.PromoA-category > a.Link,
.PromoC-category > a.Link,
.ArticlePage-breadcrumbs > a.Link {
    pointer-events: none;
}

/* Footer Styles */
footer.Page-footer {
    background: var(--WSMR-primary);
}