html {
    line-height: 1.5;
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 100%;
}
#playlist-container {
    width: 100%;
}
.playlist__app-container {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 15px;
}
.playlist__title {
    text-align: center;
    font-family: 'Share', cursive;
    font-weight: 700;
    font-size: xx-large;
    color: #006484;
}
.playlist__button-group {
    display: flex;
    gap: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.playlist__button--previous, .playlist__button--next {
    all: unset;
    font-family: 'Share', cursive;
    font-weight: 700;
    border: 1px solid lightgray;
    cursor: pointer;
    color: #006484;
    width: 50%;
    padding: 15px 0;
    font-size: x-large;
    text-transform: uppercase;
}
.playlist__button--previous::before {
    content: "<< "
}
.playlist__button--next::after {
    content: " >>"
}
.playlist__button--previous:hover, .playlist__button--next:hover {
    color: whitesmoke;
    background-color: #006484;
}
.playlist__button--next:disabled {
    background-color: lightgray;
    color: darkgray;
    cursor: not-allowed;
}
table {
    border-collapse: collapse;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    width: 100%;
}
th,
td {
    border-right: 1px solid darkgray;
    text-align: left;
    padding: 8px;
    white-space: normal;
    height: 5rem;
    vertical-align: middle;
}
td {
    font-size: 0.9em;
}
.playlist__time {
    font-weight: bold;
    white-space: nowrap;
}
.playlist__headers {
    font-family: 'Share', cursive;
    font-size: large;
    text-transform: uppercase;
    background-color: #006484;
    color: whitesmoke;
}
.playlist__label-spine {
    column-span: 2;
}

@media (max-width: 992px) {
    .playlist__title {
        font-size: x-large;
    }
    .playlist__button--previous, .playlist__button--next {
        padding: 10px 0;
        font-size: large;
    }
    table {
        border: none;
        margin: 15px;
        width: 95%;
    }
    thead {
        display: none;
    }
    td {
        height: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        border-bottom: 1px solid white;
        border-right: none;
        font-size: 0.7em;
    }
    td:first-child {
        text-align: center;
    }
}