/* COMMON ELEMENTS */
.section__wrapper--title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.headline__link {
    color: #006747;
    text-decoration: none;
}

.headline__link :hover {
    color: #7b755e;
}

.button__read-more {
    background-color: #006747;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 20px;
    align-self: flex-start;
}

.button__read-more:hover {
    color: #9ccb3b;
}

/* TOP STORY ELEMENTS ONLY */
.top-story__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.top-story__image {
    max-height: 350px;
    object-fit: cover;
}

.responsive {
    width: 100%;
    height: auto;
}

.top-story__data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-story__data--divider {
    width: 10%;
    max-width: 100px;
    margin: 15px 0;
}

/* STORY SECTION-ONLY ELEMENTS (Health News, Education, Local-State) */
.section__wrapper {
    padding: 0 30px;
}
.section__wrapper--stories {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.section__story {
    display: flex;
    flex-direction: column;
}
.article__image {
    height: auto;
    width: 100%;
    object-fit: cover;
}
.button__read-more--section-story {
    margin-top: 10px;
}

/*
LAPTOPS, DESKTOPS AND LARGER SCREENS
*/

@media (min-width: 992px) {
    /* STORY SECTION-ONLY ELEMENTS (Health News, Education, Local-State) */
    .section__wrapper--stories {
        flex-direction: row;
        align-items: stretch;
    }
    .article__image {
        height: 200px;
        max-width: 100%;
        object-fit: cover;
    }
    .section__story {
        width: 25%;
    }
    .article__description {
        margin-bottom: auto;
    }

    /* TOP STORY ELEMENTS ONLY */
    .top-story__wrapper {
        flex-direction: row;
    }
}