.pas__alerts-banner {
    --PMA__ALERTS-BANNER--title-background: rgb(1, 103, 7);
    --PMA__ALERTS-BANNER--title-text: white;
    --PMA__ALERTS-BANNER--alerts-background: rgb(181, 164, 104);
    --PMA__ALERTS-BANNER--alerts-text: black;
}
#pas__alerts-banner--link {
    text-decoration: none;
}